.Footer {
    width:100%;
    height:120px;   
    margin-bottom: -40px;
    padding-bottom: 0px;
    background: #22336E;
    z-index: 1;
}

.FooterGroup {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 0px;
    padding: 0;
    border: 0;
    display: grid;
    text-align: left;
    grid-template-columns: repeat(2, 50%);
  }

.FooterInfo {
    margin-top: 25px;
    margin-left: 50px;
    text-align: left;
    float:left;
}

.footer-power {
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.logos-footer {
    margin-top: 20px;
}

.location {
    background: url('../images/svgs/location.svg') no-repeat center center;
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    float: left;
    margin-top: 3px;
    margin-right: 8px;
    text-align: left;
    float:left;
}

.nyc {
    font-size: 16px;
    color: white;
    display:inline-block;
    vertical-align:middle;
    font-weight: 500;
    margin-top: 6px;
}

.copyright {
    margin: 0px;
    padding: 0px;
    margin-top: -5px;
    font-size: 14px;
    color: white;
}

.Icons {
    margin-top: 1px;
    margin-left: 50px;
    text-align: right;
    float:right;
}

.email {
    background: url('../images/svgs/email.svg') no-repeat center center;
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-right: 50px;
    float: right;
}

.linkedin {
    background: url('../images/svgs/linkedin.svg') no-repeat center center;
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    display:inline-block;
    vertical-align:middle;
    margin-top: 15px;
    margin-right: 20px;
    float: right;
}

.copyright-mobile {
    display: none;
}

@media (min-width: 100px) and (max-width: 900px) {
    .Footer {
        position: relative;
        bottom: 0px;
        margin-bottom: 0px;
        width:100%;
        height:130px;   
        padding-bottom: 0px;
        background: black;
        z-index: 1;
    }

    .copyright-mobile {
        display: grid;
        margin: 0px;
        padding: 0px;
        width: 300px;
        font-size: 14px;
        color: white;
        margin-top: -5px;
        margin-left: 50px;
        margin-bottom: 30px;
        width: 100%;
        grid-template-columns: repeat(1, 100%);
    }

    .copyright {
        display: none;
    }
    
    .FooterGroup {
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
        background: black;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0;
        border: 0;
        display: grid;
        text-align: left;
        grid-template-columns: repeat(2, 50%);
    }


    .location {
        margin-top: 15px;
        margin-right: 5px;
    }
     
    .nyc {
        margin-top: 17px;
    }


    .Icons {
        margin-top: 4px;
        margin-left: 10px;
    }
    
    .email {
        width: 30px;
        height: 30px;
    }
    
    .linkedin {
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        margin-right: 15px;
    }
}