html, body, #___gatsby {
    height: 100%;
    width: 100%;
    min-width: fit-content;
}

.Header {
    background: relative;
    min-height: 100%;
    margin: 0 auto;
    max-width: 1100px;
}

h2 {
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.HeaderGroup {
    width: 120px;
    padding: 0;
    border: 0;
    display: grid;
    text-align: left;
    align-items: center;
    justify-items: center;
    display: flex;
    margin-left: 30px;
    padding-top: 20px;
}

.Logo {
    background: url('../images/svgs/workpal-logo.svg') no-repeat center center;
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    flex: 0 0 65%;
}

.LogoName {
    float:left;
}

.Logo Link:hover {
  box-shadow: 0 10px 20px rgba(0,0,0, 0.25);
  transform: translateY(-3px);
}

.Header a {
    width: 100%;
    padding: 0px 0;
    color: black;
    margin-left: 3px; 
    font-size: 30px;
    text-decoration: none;
    text-align: right;
    font-weight: 600;
}

.Logo span {
    font-size: 32px;
    font-weight: 600;
}
